@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #102234;
  background: #f7fbf8;
  font-family: "Avenir Next", "Noto Sans SC", sans-serif;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

button,
input,
select {
  font: inherit;
}
